/*! Basscss | http://basscss.com | MIT License */

.bg-black
{
	background: black;
	color: white;
}
body
{
	background: white;
    font-family: cursive !important;
}
.section_image
{
	/*background-image: url('../rsz_chatbox-logo.jpg');*/
	/*height: 800px;*/
	
}

.fa-apple
{
    opacity: 1;
    color:#00FF00;
}

.my_font
{
    color:white;
    margin-top:7%;
    opacity:.7;
}

.my_font:hover
{
    color:white;
    margin-top:7%;
    opacity: 1;
}


.section_6
{
    height: 800px;
    /* width: 100% !important; */
    /* border: 1px solid red; */
    background: url('../img/brief_final_2.png');
    background-repeat: no-repeat;
     background-size:100% auto;
}
.section_2_image_1
{
	/*background-image: url('../bigstock-Abstract.jpg');*/
	height: 1550px;
    background: white;
    /* border:1px solid red; */
    
}

.section_div_1
{
	margin: 0 auto !important;
    background-image: url('../img/brief_final_section_2.png');
    height: 400px;
    background-size:100% auto;
    background-repeat: no-repeat;
}


.section__div
{
    margin: 0 auto !important;
    /* background-image: url('../brief_final_section_2.png'); */
    height: 300px;
    /* background-size:100% auto; */
    /* background-repeat: no-repeat; */
    background: #435EF6;
}


.aside_1
{
    height:600px;
    margin-top:5px;
    /* border: 1px solid black; */

}

img{

    width:100% !important;
    height:100% !important;
    display:block;

}

.aside_1_inner
{
    height:410px;
    margin:0 auto;
    margin-top:4% !important;
    background: url("../img/abcd.png");
     background-size:100% auto;
    background-repeat: no-repeat;
    /* border: 1px solid black; */

}

.section_2_image_2
{
	height: 340px;
	width: 40%;
	/* border: 1px solid black; */
	margin-top: 15px !important;
    margin:0 auto;
}

.section_2_inner
{
    height: 300px;
    margin-top: 10px !important;
    margin:0 auto;
        /*box-shadow: 2px 2px 2px 2px #191919;*/
}

.section_1_image_2
{
    height: 250px;
    width: 300px;
    border: 1px solid white;
    margin-top: 10px !important;
    margin:0 auto;
    background: url('../img/psd-chat-icon-clip-art.png');
    /*opacity: .9;*/
} 

img
{
    border-radius: 5px;
}

.section_4
{
    height: 600px;
    /*border: 1px solid white;*/
    margin-top: 8%;
    background: url('../img/brief_final.png');
    background-repeat: no-repeat;
    background-size:100% auto;
      background-color: white;

}

.section_5
{
    height: 400px;
    background: white;
    /*border: 1px solid white;*/
    /*background: url('../brief_final.png');*/
    /*background-repeat: no-repeat;*/
        /*background-size:100% auto;*/
}



.my_nav
{
    /* border:1px solid black; */
    height:120px;
    margin-top:3%;
    width: 20% !important;
    margin-left: 8%;
    /*box-shadow: 2px 2px 2px 1px #323232;*/
    border-radius: 5px;
}


.my_nav_3
{
    /* border:1px solid black; */
    height:180px;
    margin-top:3%;
    margin-left: 14%;
    /*box-shadow: 2px 2px 2px 1px #323232;*/
    border-radius: 5px;
}

.section_6_inner
{
    height:180px;
    margin-top:44%;
    margin-left:38%;
    background:#fcd08c;
}


.my_nav_2
{
    /* border:1px solid black; */
    height:180px;
    margin-top:3%;
    margin-left: 2%;
/*    box-shadow: 4px 4px 4px 4px #7e7e7e;*/
    border-radius: 5px;
    height: 330px;
    margin-top:9%;
    margin-left:10%;
    background:#f3f3f4;
    color:#4c4c4c;
    border: none;
}


.section_3
{
    /*border:1px solid black;*/
    height: 300px;
}


.my_tag
{
	background: black;
    width: 250px;
    padding: 8px;
    opacity: .9;
    color: white;
    border: 2px solid black;

}


.my_style
{
    opacity:.8 ;
    color:white;
}

.my_tag:hover
{
	opacity: .7;

}

img
{
    border-radius: 5px;
}

.my_btn
{
    background: black;
    color:white;
    font-weight:bold;
    border:none;
}

.p_black
{
    color: black !important;
}





.my_text
{
	font-family:cursive !important;
}


.my_text_2
{
	font-family:cursive !important;
}



input
{
	padding: 10px;
	border-radius: 2px;
	opacity: 1;
	width: 250px;
	border: none;
}
