
.navbar-inverse
{
    background: #435EF6 !important;
    border:2px solid #435EF6 !important;
    margin-bottom:0px !important;
    border-radius:0px !important;
}
li > a
{
    color:white !important;
}
body
{
	background: white;
    font-family: cursive !important;
}
.flex
{
    background:#f3f3f4;
    align-items:center;
    display:flex;
}

.justify-content
{
    display: flex;
    justify-content:center;
}

.xyz
{
    text-align: center;
    margin: 0 auto;
}

.center
{
    text-align: center;
}
.width
{
    width: 100%;
}
.my_padding
{
    padding-right:0px !important;
    padding-left:0px !important;
}
.my_margin
{
    margin-top: 5px;
}

.black
{
    color: black !important;
}
